.idea*
/.kotlin
.gradle/
.cxx/
build/
release/
pbeta/
TMessagesProj/play/
*.iml
*.apk
local.properties
signing.properties
*.keystore
*.jsk
*.zip
*.pepk
*.aab
.DS_Store
google-services.json
agconnect-services.json
output-metadata.json
TMessagesProj/.cxx/
TMessagesProj/jniLibs/
TMessagesProj/jniRes/
**/.DS_Store
TMessagesProj/afat/
TMessagesProj_App/afat/
TMessagesProj_App/play/
TMessagesProj_AppHockeyApp/afat/
TMessagesProj_AppStandalone/afat/
TMessagesProj_AppHuawei/afat/
.run/
*.jks
move_icon.sh
clear_env.sh
